<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Permissions-Policy "accelerometer=(self https://checkout.razorpay.com https://api.razorpay.com https://api.sardine.ai), gyroscope=(self https://checkout.razorpay.com https://api.razorpay.com https://api.sardine.ai)"
</IfModule>
